<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple/DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>name</key>
        <string>dg Syntax Bundle</string>
        <key>uuid</key>
        <string>7F83CFA2-F04E-4FA5-9AB4-DBF6800888C6</string>
    </dict>
</plist>