@import url(http://fonts.googleapis.com/css?family=Lora|Montserrat)
@import code

@mixin narrow-on-big-screens($medium, $big)
  margin-left: auto
  margin-right: auto

  @media (min-width: 768px)
    width: $medium

  @media (min-width: 992px)
    width: $big

a
  cursor: pointer

pre
  border: none
  background: none
  overflow-x: auto
  white-space: pre
  word-wrap: normal
  padding: 20px

.text-muted
  color: rgba(0, 0, 0, 0.3)

.navbar
  // `.container` has a 15px padding
  @include narrow-on-big-screens(720px, 810px)
  border: none
  background: none
  margin-bottom: 0

  @media (max-width: 767px)
    display: none

.icon-bar
  border-top: 2px solid rgba(128, 128, 128, 0.7)

.container-narrow
  @include narrow-on-big-screens(750px, 970px)

.carousel-indicators li
  border-color: #222

  &.active
    background: #222

.carousel-inner > .item > .container
  margin-bottom: 60px

.footer
  padding: 15px

  a
    color: #86A5BF

.jumbotron
  background: none

.row
  margin-bottom: 30px

.markdown
  h3
    margin-top: 40px

  h4
    margin-top: 30px

  h4, h5
    font-weight: bold

  @media (min-width: 768px)
    h3, h4
      // There's at least 18+15 px available due to `width` and `padding` of `.container`.
      margin-left: -15px

.marketing h4, .jumbotron
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif

.marketing p
  font-size: 16px

.marketing
  line-height: 26px

.dogesym-before
  display: inline-block
  vertical-align: middle

.dogesym-outer
  margin-right: -100px

.dogesym
  background: url(../images/doge.png) no-repeat top right #ffffff
  background-size: contain
  vertical-align: middle
  display: inline-block
  width: 200px
  height: 200px

.serious-dawg
  max-width: 381px
  margin: auto
  padding-top: 339px
  background: url(../images/seriousdawg.jpg) no-repeat top center #ffffff

  h3
    background: #0058a2
    font-family: "Lora", "URW Bookman L", serif
    font-size: 54px
    color: white
    margin: 0
    padding: 20px 0

  h4
    padding: 15px

    .accent
      color: #0058a2
